body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

body>* {
    padding: 1em;
}

header {
    border-bottom: 1px solid #000;
}

main {
    flex-grow: 1;
}

footer {
    border-top: 1px solid #999;
}